<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="geoServerUrl" value="https://urbamidplus-collaudo.comune.messina.it/geoserver" />
    <add key="workSpace" value="urbamid" />
    <add key="userName" value="admin" />
    <add key="password" value="geoserver" />
    <add key="logPath" value="C://temp/geoserver/log" />
	  <add key="wrapperUrl" value="http://192.168.11.222:8084/urbamid/wrappergeo/rest/api" />
	  <add key="dbStore" value="dbUrbamid" />
	
  </appSettings>
</configuration>