<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="geoServerUrl" value="http://192.168.11.222:8080/geoserver"/>
    <add key="workSpace" value="urbamid"/>
    <add key="userName" value="admin"/>
    <add key="password" value="Geoserver"/>
    <add key="logPath" value="C://temp/geoserver/log"/>
  </appSettings>
</configuration>